{% extends "base.html" %}
 
{% block content %}
<div class="form-group">
    <form action="{% url 'update' blog.id%}" method="POST">
        {%csrf_token%}
        <label>제목:</label>
        <input class="form-control" type="text" value='{{blog.title}}' name="title">
        <br>
        <label>본문:</label>
        <textarea class="form-control" name="body" id="" cols="30" rows="10">{{blog.body}}</textarea>
        <br>
        <button class="btn btn-sm btn-outline-secondary" type="submit">수정</button>
    </form>
</div>
{% endblock content %}