{% extends "base.html" %}
 
{% block content %}

{% load static %}
<form method="POST" enctype='multipart/form-data'>
    {%csrf_token%}
    <div id="form" class="form-group">
        {{form.as_table}}
    </div>    
    <br>
    <button class="btn btn-sm btn-outline-secondary" type="submit">SUBMIT</button>
</form>

<script>
    var c = document.getElementById("form").children;
    for (var i=0; i<c.length; i++){
        if(c[i].tagName=='INPUT' || c[i].tagName=='SELECT' || c[i].tagName=='TEXTAREA'){
            c[i].className="form-control";
        }
    }

</script>
{% endblock content %}